# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-store/

# Logs
logs
*.log
*.log.*
pids
*.pid
*.seed
*.pid.lock

# OS
.DS_Store
Thumbs.db

# Ansible
*.retry
.vault_pass.txt

# Env
.env
.env.*
